<div class="container py-5">
    <h5>Products</h5>
    <div class="pb-2">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-3" *ngFor="let product of products|search:query">
            <div class="card mb-4 rounded-0">
              <div class="card rounded-0 text-center"><img [src]="product.image" alt="website template image" class="card-img rounded-0 img-fluid">
              </div>
              <div class="card-body"><p class="truncate"><a [routerLink]="[product.id]" class="text-center" title="{{product.title}}">{{product.title}}</a></p>
                <!-- <ul class="list-unstyled d-flex justify-content-center mb-1">
                    <li></li>
                  </ul> -->
                <p  class="text-center">$ {{product.price}}</p>
                <p  class="text-center mb-1"><button type="button" class="btn btn-primary" (click)="addToCard(product.id)">Add To Cart</button></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>