img{
    height: 150px;
    width: 150px;
}
.truncate {
        font-size:1.5rem;
        width:225px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
}
.card{
    display: block;
}